body {
  background-color: #232323;
}

.possibleAnswers {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  text-align: center;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}
#message {
  display: inline-block;
  width: 20%;
}

h1 {
  color: white;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%; /* it takes  100% of the container*/
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s; /* transition every times a property changes*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}
